body {
    background-color: #f0f2f0;
}

h1 {
    color: #007A43;
}

 button {
     background-color: #007A43;
     border: none;
     color: white;
     padding: 40px 50px;
     text-align: center;
     display: block;
     font-size: 16px;
     margin: 0 auto;
     cursor: pointer;
     border-radius: 60px;
     max-width: 70%;
 }

 .list-group-item{
 	 background-color: transparent;
 	 font-style: italic;
 }

 .form-check-input:checked {
     border-color: #388E3C;
     background-color: #4CAF50;
 }

p {
    color: #373837
}

td img{
height: 30vh;
    object-fit: cover;
}