h1 {
    color: #007A43;
}
a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}

     body {
      background-image: url("https://cdn.pixabay.com/photo/2016/03/10/18/44/top-view-1248955_960_720.jpg");

     }