<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="main.css">
    <title>Foodie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/frontPage.css">
</head>

<body>
<h1>Welcome to Foodie!</h1>

<button1>
    <a th:href="@{/ingredients/choose-ingredients}">
        <strong>
            <em>
                Generate menu
            </em>
        </strong>
    </a>
</button1>

<br/>
<br/>
<button2>
    <a th:href="@{/recipes/add-recipe}">
        <strong>
            <em>
                Add recipe
            </em>
        </strong>
    </a>
</button2>

</body>

</html>