<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="main.css">
    <title>Foodie</title>
    <style>
        body {
 background:#A6DB43;
 }
 h1 {
            text-align: center;
            color: #007A43;
            font-family:"Lucida Handwriting";
            margin:150px;
            font-size:100px;
            }
            button {
            margin: 0 auto;
            }

    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Welcome to Foodie!</h1>
<button1>
    <strong>
        <em>
            Add a recipe!
        </em>
    </strong>
</button1>
<br/>
<br/>
<button2>
    <strong>
        <em>
            Find a recipe!
        </em>
    </strong>
</button2>


</body>
</html>