<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose ingredients</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/recipeMenu.css">
</head>
<body>
  <div align="center">
      <h1 class="menu-header"> This is your today's menu!</h1>

      <div class="menu">
          <div class="card" style="width: 30vw;" th:each="recipe, iStat : ${recipes}">
              <img src="/test.jpg" class="card-img-top" alt="...">
              <div  th:switch="${iStat.index}">
                  <h3 class="card-meal-type-header" th:case="0">Breakfast</h3>
                  <h3 class="card-meal-type-header" th:case="1" >Lunch</h3>
                  <h3 class="card-meal-type-header" th:case="2" >Dinner</h3>
              </div>
              <div class="card-body">
                  <h5 class="card-title" th:text="${recipe.recipeName}"></h5>
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item" th:each="i : ${recipe.ingredientAmounts}">
                          <span th:text="${i.ingredient.ingredientName}"/>
                          <span th:text="${i.amount}"/>
                          <span th:text="${i.ingredient.ingredientMeasure}"/>
                      </li>
                  </ul>
                  <p class="card-text" th:text="${recipe.recipeInstructions}"></p>
              </div>
          </div>
      </div>
</div>
</body>
</html>